<html>
<head>
    <title>Places You Have Been</title>
</head>
<body>
        <h1>You added a place!</h1>
        <p>{{ newplace.getDescription }}</p>
        <p><a href='/'>View your list of places you have been.</a></p>
</body>
</html>
